@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = null;
}


<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">"Unde poti sa pui sarma, e pacat sa pui surub"</p>
</header>
