@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="modal register">
    <h1>Creaza-ti un Cont</h1>
    <div class="col-md-4">
        <form enctype="multipart/form-data" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <label asp-for="Input.ProfilePicture" class="upload">
                <img id="profil-provizoriu" src="@TempData["fisier"]" />
                <input asp-for="Input.ProfilePicture" id="Input_ProfilePicture" type="file"/>
                <span><i class="bi bi-camera"></i></span>
            </label>
            
                <label asp-for="Input.UserName">UserName</label> <br />
                <input asp-for="Input.UserName" class="server-name" autocomplete="username" aria-required="true" placeholder="Gica Hagi" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                <br /><br />
            
                <label asp-for="Input.Email">Email</label><br />
                <input asp-for="Input.Email" class="server-name" autocomplete="username" aria-required="true" placeholder="gicahagi@gmail.ro" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <br /><br />
            
                <label asp-for="Input.Password">Password</label> <br />
                <input asp-for="Input.Password" class="server-name" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <br /><br />

                <label asp-for="Input.ConfirmPassword">Confirm Password</label> <br />
                <input asp-for="Input.ConfirmPassword" class="server-name" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <br /><br />
            
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
