
<div class="main-content">
    <h1>Notificarile tale</h1>
    <hr />
    <div class="lista-grupuri">
    <div class="test">
        <img src="~/images/DA.png" class="poza-grup"></img>
        <p class="nume-grup">Bravo, ai fost adaugat</p>
            <button class="icon-profil btn-success"> ok! </button>
    </div>
    <hr />
            <div class="test">
                
                <img src="~/images/NU.png" class="poza-grup"></img>
                <p class="nume-grup">Ai fost respins</p>
            <button class="icon-profil btn-success"> ok! </button>
            </div>
            <hr />
                    <div class="test">
                
                <img src="~/images/intrebare.png" class="poza-grup"></img>
               <p class="nume-grup">Il accepti pe acest individ in grupul tau? </p>
               <div class="icon-profil">
                   <button class="icon btn-danger">Decline</button>
                   <button class="icon btn-success">Accept</button>
               </div>
            </div>
            <hr />
    </div>
</div>