<div class="modal">
    <h1>Nu esti logat</h1>
    <p>Pentru a vedea detalii legat de grup este nevoie sa te log-ezi</p>
    
    <a asp-area="Identity" asp-page="/Account/Login">
        <div class="footer">
            <button class="create">Log in</button>
        </div>
    </a>
</div>